{% extends 'shared/base.html' %}
{% load static %}
  {% block content %}

  <dialog class="infoDialog">
    <div class="infoDialog__message"></div>
    <form action="{% url 'hrapp:computer' computer.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="actual_method" value="DELETE">
      <button>Yes is my Final Answer</button>
    </form>
    <form action="{% url 'hrapp:computer_list' %}" method="GET">
      {% csrf_token %}
      <button type="submit">Please No!</button>
    </form>
  </dialog>

  <div class="detail_computers">
    <h1>Make / Model: {{ computer.make }}</h1>
    <h2>Purchase Date:{{ computer.purchase_date }}</h2>
    {% if computer.decommission_date != None %}
      <h2>Decommission Date: {{ computer.decommission_date }}</h2>
    {% endif %}
    <button id="detail--{{ computer.id }}">Delete</button>
  </div>
  {% endblock %}
  

{% block scripts %}
    <script src="{% static 'scripts/computers.js' %}"></script>
{% endblock %}
