{% extends 'shared/base.html' %}
{% block content %}
    <h1>{{ employee.first_name }} {{ employee.last_name }}</h1>
    <h2>Department: {{ employee.department.dept_name }}</h2>
    {% if employee.computer.make != None %}
    <p>Computer: {{ employee.computer.make }} </p>
    {% endif %}
    {% if employee.training_programs != None %}
    <h2> Training Programs</h2>
    {% for tp in employee.training_programs %}
    <p>{{ tp.name }} </p>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <button><a href="{% url 'hrapp:emp_program_form' employee.id %}">Assign Employee</a></button>
    {% endif %}

  <form action="{% url 'hrapp:employee' employee.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
  </form>
   <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>

{% endblock %}